{% set nav_menu = (
        ("main.index", "首页"),
        ("main.categories", "分类"),
        ("main.labels", "标签"),
        ("main.about", "关于"),
    )
%}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="纸上得来终觉浅。">
    <meta name="keywords" content="">
    <meta name="author" content="MrChi">
    {% block metas %}{% endblock %}

    <title>{% block title %}{% endblock %} | MrChi</title>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" >
    <link href="{{ url_for('static', filename='libs/Bootstrap/4.1.2/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='libs/Font-Awesome/3.2.1/font-awesome.min.css') }}" rel="stylesheet">
    {% block styles %}
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">MrChi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <nav class="nav nav-pills nav-fill mr-auto">
                {% for endpoint, nav_text in nav_menu %}
                    <a class="nav-item nav-link {% if active_menu == endpoint %}active{% endif %}" href="{{ url_for(endpoint) if endpoint != '#' else endpoint }}">{{ nav_text }}</a>
                {% endfor %}
                </nav>
                <form class="form-inline mr-4" method="get" action="{{ url_for('main.search') }}">
                    <input class="form-control" name="q" type="search" placeholder="搜索" aria-label="Search" style="width: 250px;">
                </form>
                <div class="col-lg-3 d-none d-lg-block"></div>
            </div>
        </div>
    </nav>
{% endblock %}

    <div class="container mt20">
        <div class="row">
        {% block content %}
            <div class="col-lg-9">{% block main %}{% endblock %}</div>
            <div class="col-lg-3">{% block sidebar %}{% endblock %}</div>
        {% endblock %}
        </div>
    </div>

{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="icon-heart"></i>
                    Powered by
                    <a href="http://flask.pocoo.org/">Flask</a>
                    <br>
                    <i class="icon-lightbulb"></i>
                    Fork me on
                    <a href="https://github.com/chiqj/MrChiBlog">MrChiBlog</a>
                </div>
                <div class="col-md-2 d-none d-md-block">
                    <span class="statistic-num">{{ statistic["posts"] }}</span>
                    文章
                </div>
                <div class="col-md-2 d-none d-md-block">
                    <span class="statistic-num">{{ statistic["categories"] }}</span>
                    分类
                </div>
                <div class="col-md-2 d-none d-md-block">
                    <span class="statistic-num">{{ statistic["labels"] }}</span>
                    标签
                </div>
                <div class="col-md-2 d-none d-md-block">
                    更新于
                    <br>
                    <span class="momentjs" data-time="{{ statistic['last_update_at'] }}"></span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='libs/jQuery/3.3.1/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/Bootstrap/4.1.2/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/Moment.js/2.22.2/moment-with-locales.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            // 自动根据浏览器语言设置 locale
            var locale = window.navigator.language;
            var elements = $('.momentjs');
            moment.locale(locale);
            for (var i of elements) {
                t = i.getAttribute("data-time");
                i.innerText = moment(t, "YYYY-MM-DD hh:mm:ss").fromNow();
            };
        });
    </script>
{% block script %}{% endblock %}
</body>

</html>
