<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="纸上得来终觉浅。">
    <meta name="keywords" content="">
    <meta name="author" content="MrChi">
    {% block metas %}{% endblock %}

    <title>{% block title %}{% endblock %} - MrChi</title>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" >
    <link href="{{ url_for('static', filename='libs/Bootstrap/4.1.2/bootstrap.min.css') }}" rel="stylesheet">
    {% block styles %}
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">我菜故我在</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <nav class="nav mr-auto nav-pills nav-fill">
                    <a class="nav-item nav-link" href="#">首页</a>
                    <a class="nav-item nav-link" href="#">归档</a>
                    <a class="nav-item nav-link" href="#">系列</a>
                    <a class="nav-item nav-link" href="#">标签</a>
                    <a class="nav-item nav-link" href="#">关于我</a>
                </nav>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt20">
        <div class="row">
            <div class="col-md-9">{% block main %}{% endblock %}</div>
            <div class="col-md-3">{% block sidebar %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            Powered by <a href="http://flask.pocoo.org/">Flask</a>.
            <br>
            Copyright © 2018 MrChi
        </div>
    </footer>
{% endblock %}

    <script src="{{ url_for('static', filename='libs/jQuery/3.3.1/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/Bootstrap/4.1.2/bootstrap.bundle.min.js') }}"></script>

{% block scripts %}{% endblock %}
</body>

</html>
