{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% set active_menu = "main.index" %}
{% set breadcrumb_items = (
        (url_for("main.index"), "首页"),
        "所有文章（按创建时间降序）",
    )
%}

{% block title %}首页{% endblock %}

{% block main %}
{{ macros.breadcrumb_widget(breadcrumb_items) }}
{{ macros.post_stream_widget(posts) }}
{{ macros.pagination_widget(pagination, endpoint) }}
{% endblock %}

{% block sidebar %}
<div class="card mt20 sidebar-card">
    <div class="card-header">Quote</div>
    <div class="card-body">
        <i class="icon-quote-left"></i>
        愿中国青年都摆脱冷气，只是向上走，不必听自暴自弃者流的话。能做事的做事，能发声的发声。有一分热，发一分光，就令萤火一般，也可以在黑暗里发一点光，不必等候炬火。此后如竟没有炬火：我便是唯一的光。
        <i class="icon-quote-right"></i>
        <br/>
        <span class="blockquote-footer text-right">鲁迅</span>
    </div>
</div>
{{ macros.category_card_widget(categories) }}
{{ macros.label_card_widget(labels, limit=20) }}
<div class="card mt20 sidebar-card">
    <div class="card-header">关于</div>
    <div class="card-body">
        <p><strong>MrChi</strong><br/>Python开发者，爱好广泛。</p>
        <p><a href="https://github.com/chiqj/" target="_blank" noopener>
            <i class="icon-github-alt icon-large"></i>
            GitHub
        </a></p>
        <span>Try again, fail again, fail better.</span>
    </div>
</div>
{% endblock %}
