[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
redis = "==2.10.6"
markdown = "*"
pygments = "*"
flask-redis = "*"
whoosh = "*"
jieba = "*"
flask-whooshalchemyplus = "*"
gunicorn = "*"
flask-rq2 = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.7"
